@model bwarrickBugTracker.Models.Helpers.AdminUserViewModels

@{
    ViewBag.Title = "EditUserRoles";
}

<h2>EditUserRoles</h2>
<hr />

@using (Html.BeginForm("EditUserRoles", "Admin", FormMethod.Post))
{
    <h4>@Html.DisplayFor(model => model.User.FullName)
    <input type="submit" value="Assign Roles" class="btn btn-default" style="margin-top:-7px;" />
    </h4>
    <hr />
    @Html.HiddenFor((model => model.User.Id))
    @Html.ListBox("SelectedRoles", Model.Roles)
}

<div style="margin-top:40px;">
    @Html.ActionLink("Back to Admin Index", "Index")
</div>

